.header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;

    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    background: white;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.logo {
    padding: 0.5rem 0;
}

.login {
    color: #333;
    display: flex;
    align-items: center;
}

.login::after {
    content: '';
    display: inline-block;

    width: 14px;
    height: 17px;

    position: relative;
    top: -1px;
    margin-left: 0.5rem;
    background: url('../../Assets/usuario.svg') no-repeat center center;
}
